<aside class="sidebar">
  <div class="sections">
    <ul>
  
    </ul>
  </div>
  <div class="contact-info">
    <ul>
      <li>
        <span>telephone</span>
		    <span>+971 6 7483 989</span>
      </li>
      <li>
        <span>fax</span>
		    <span>+971 6 7483 898</span>
      </li>
      <li>
        <span>email</span>
		    <span><a href="mailto:info@blocktech.ae">info@blocktech.ae</a></span>
      </li>
    </ul>
  </div>
</aside>