<aside class="sidebar">
  <div class="sections">
    <ul>
  
    </ul>
  </div>
  <div class="contact-info">
    <ul>
      <li>
        <span>telephone</span>
		    <span><%= @object.company_section.company.phone %></span>
      </li>
      <li>
        <span>fax</span>
		    <span><%= @object.company_section.company.fax %></span>
      </li>
      <li>
        <span>email</span>
		    <span><a href="<%= @object.company_section.company.email %>"><%= @object.company_section.company.email %></a></span>
      </li>
    </ul>
  </div>
</aside>