<section class="news">
  <%= render :partial => "header", :locals => { :sections => @sections } %>
  <div class="content">
    <section class="postings">
      <div>
        <aside class="search">
          <%= render "search" %>
        </aside>

        <section>
          <%= render :partial => 'post', :locals => { :post => @post, :categories => @categories, :full => true } %>
        </section>

        <%= render "sidebar" %>
      </div>
    </section>
  </div>
</section>
