<a href="<%= url_for company_section_path(section,:locale=>I18n.locale) %>" class="clear">
  <h3><%= section.title %></h3>
  <div class="text">
    <p><%= section.description %></p>
    <span class="orange"><%= t(:more) %></span>
  </div>
</a>
