<section class="main companies">
  <%= render :partial => "header" %>
  <div class="content clear">
    <h2>Our Companies</h2>
    <h3>Tech Group monitors and consolidates the performance variables of all the operating companies under its aegis. Every company’s name is tagged with “Tech”, a spin-off of Technology which synergizes each specialization or area of operations.</h3>
    <section class="companies-wrapper">
      <%= render :partial => 'object', :collection => @objects %>
    </section>
  </div>
</section>
