<section class="companies">
  <%= render :partial => "header" %>
  <div class="content">
    <section class="companies">
      <div>  
        <section class="companies-wrapper">
          <%= render :partial => 'object', :collection => @objects %>
        </section>
      </div>
    </section>
  </div>
</section>
