<% content_for :page_stylesheet do %>
  <%= stylesheet_link_tag 'errors', :media => 'screen' %>
<% end %>
<section class="main error">
  <div class="content clear">
    <section class="overview">
      <h1>500 Error</h1>
      <h2>Server Error</h2>
    </section>
  </div>
</section><!-- End .Home -->
