<% content_for :page_stylesheet do %>
  <%= stylesheet_link_tag 'errors', :media => 'screen' %>
<% end %>
<section class="main error">
  <div class="content clear">
    <h1>500 Error</h1>
    <h2>Server Error</h2>
  </div>
</section><!-- End .Home -->
