<section class="operation clear">
  <div class="image">
    <img src="<%= operation.image.thumbnail %>" alt="<%= operation.title %>">
  </div>
  <div class="text">
    <h3><%= operation.title.try(:titlecase) %></h3>
    <p><%= operation.description %></p>
  </div>
</section>
