<aside class="sidebar">
  <div class="categories">
    <ul>
      <li><a href="/media/" alt="<%= t(:all) %>">All</a></li>
      <% @media_categories.each do |cat| %>
        <li><a href="/media/<%= cat.title %>" alt="<%= t(:view_more_posts) %>"><%= cat.title %></a></li>
      <% end %>
    </ul>
  </div>
  <div class="search-wrapper">
    <!-- I realize this will probably need changing later -->
    <form method="GET" action="/news/search">
      <div class="search">
        <input type="text" name="search" value="" id="search"/>
        <input type="submit" />
      </div>
    </form>
  </div>
</aside>
