<section class="media">
  <%= render :partial => "header", :locals => { :sections => @sections } %>
  <div class="content">
    <section class="postings">
      <div>
        <%= render "sidebar" %>
        
        <section class="posts-wrapper">
          <%= render :partial => 'object', :collection => @objects, :locals => { :categories => @categories, :full => false } %>
        </section>

        <% if not @search %>
          <%= paginate @objects %>
        <% end %>
        
      </div>
    </section>
  </div>
</section>
