<section class="media main">
  <%= render :partial => "header" %>
  <div class="content clear">
    
    <%= render "sidebar" %>
    <section class="posts-wrapper">
      <h2>Media</h2>
      <%= render :partial => 'object', :collection => @objects, :locals => { :categories => @categories } %>
    </section>
    <% if not @search %>
      <%= paginate @objects %>
    <% end %>
  </div>
</section>
