<div class="form">
  <h4 role="title">Contact Us</h4>
  <form method="post" action="/submit" id="contact_form">
    <fieldset>
        <input type="text" required name="name" placeholder="Name" />
        <input type="tel" required name="telephone" placeholder="Telephone" />
        <input type="email" required name="email" placeholder="Email Address" />
      <select required name="subject">
        <option disabled="disabled">Choose Subject</option>
      </select>
      <textarea name="message" required placeholder="Message"></textarea>
      <input type="submit" value="Submit Form" class="button" />
    </fieldset>
  </form>
</div>