<nav class="subnav">
  <ul class="breadcrumb">
    <li><a href="<%= root_path %>" title="<%= t(:home) %>"><%= t(:home) %></a></li>
    <li>Contact</li>
  </ul>
</nav>
<div class="banner">
  <%= image_tag("contact/contact-all.jpg", :alt=>"Sample") %>
</div>