/* line 30, /Users/anthony/.rvm/gems/ruby-1.9.2-p290/gems/activeadmin-0.3.3/app/assets/stylesheets/active_admin/_header.css.scss */

#header div#locale_nav {
  position: absolute;
  right: 235px;
  top: 10px;
  color: #aaa;
  margin: 0;
  padding: 0;
  display: inline-block;
  height: 100%;
  font-size: 1.0em;
  /* Hover on li, display the ul */
  /* Drop down menus */
    
  a{
    text-decoration: none;
    padding: 6px 10px 4px 10px;
    position: relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: image-url("active_admin/nested_menu_arrow.gif") no-repeat 89% 50%;
    padding-right: 20px;
    z-index: 1050;
    
  }
  
  &:hover{
    a{
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      -moz-border-radius-topright: 10px;
      -moz-border-radius-topleft: 10px;
      -webkit-border-top-right-radius: 10px;
      -webkit-border-top-left-radius: 10px;
      border-bottom: 5px solid #7b8389;
      background: #7b8389 image-url("active_admin/nested_menu_arrow_dark.gif") no-repeat 89% 50%;
    }
  }

 
  &:hover{
    a{
      background: #7b8389;
      color: #CDCDCD;
    }
    
    ul {
      display: block;
    }
  }
  
  
  ul{
    background: #7b8389;
    border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    box-shadow: 0 1px 3px #444444;
    -moz-box-shadow: 0 1px 3px #444444;
    -webkit-box-shadow: 0 1px 3px #444444;
    position: absolute;
    width: 125px;
    margin-top: 5px;
    float: left;
    display: none;
    padding: 3px 0px 5px 0;
    list-style: none;
    z-index: 1010;
    
    li{
      margin: 0px;
      a{
        background: none;
        display: block;
        
        &:hover{
          color: #fff;
          background: none;
        }
      }
      
      
    }  
  }
  
  a{
    margin-left: 10px;
    text-decoration: none;
    &:hover{
      color: #fff;
    }
  }
  
}// end ul