/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
*/

.news section.postings article:last-child {
    border-bottom: none;
}

.news {
    h1 {
        font-size:      1.625em;
        margin-bottom:  10px;
        font-weight:    300;
        font-style:     italic;
        line-height:    1.25em;
        border-bottom:  1px solid #E5E5E5;
        float:          left;
        padding-bottom: 10px;
        margin-bottom:  30px;
        width:          100%;

        .category {
            font-size:      1.125em;
        }
    }
}

@media (min-width:461px) {
    .news h1 {
        width:          73.737374%;
    }

    .news .posts-wrapper {
        min-height: 600px;
    }
}

#contact_form {
    .thank-you {
        margin-left:    10px;
        padding:        10px;
        background:     white;
        display:        none;
    }
}
