@import "compass/css3";
@import "shared_vars";

.company{
  .overview {
    width:74.747475%;
    
    article {
      margin-bottom:50px;
    }
    h4 {
      font-size:1.692307em;
      color:$orange;
      margin:0;
      padding-bottom:0;
      border-bottom:0;
    }

    p {
      margin-bottom:20px;
      line-height:150%;
    }  
  }

  .sidebar {
    width:23.434343%;
    float:right;
    margin-bottom:50px;
	
  	.contact-info{
      background-color: #FAFAFA;
      padding:15px;
      font-size:.95em;
  		ul{
		    li{
          border-bottom:none;
          margin-bottom:12px;
          span{
            display:block;
            margin-bottom:5px;
            
            a{
              text-transform:lowercase;
              color:$orange;
              padding:0px;
            }
          }
          
          &:last-child{
            margin-bottom:0px;
          }
        }
  		}
  	}
	
    
    ul {
      list-style:none;
      margin:0;
      padding:0;
      
      li {
        border-bottom:1px solid #e5e5e5;
        font-family:$proximanova;
        font-size:1em;
        line-height:1em;
        text-transform:uppercase;
        
        a {
          padding:15px;
          color:#666;
          display:block;
          
          &:hover {
            color:$orange;
          }
        }
        &.active {
          background:$orange;
          
          a {
            color:#fff;
            cursor:default;
          }
        }
        &:last-child {
          border-bottom:0;
          margin-bottom:25px;
        }
      }
    }
  }
}

.company.company-section{
  .logo{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom:1px solid #e5e5e5;
  }
  h2{
    margin-bottom:40px;
  }
  
  a{
    .image{
      float:left;
      width:33%;
      
      img{
        border:1px solid #e5e5e5;
      }
    }
    .text{
      margin-left:2%;
      width:65%;
      float:left;
    }
    
    h5{
      font-size:1.3em;
      margin-top:5px;
      margin-bottom:4px;
    }
    
    p{
      font-size:.87em;
      margin-bottom:4px;
      line-height:110%;
    }
    
    span{
      font-size:.9em;
      color:$orange;
      text-transform:uppercase;
    }
  }
}

