@import "compass/css3";
@import "shared_vars";

.corporation{
  .banner {
    @include single-box-shadow(rgba(0, 0, 0, 0.15), 0, 0, 0, 1px, inset);
  }
  
  h3{
    font-size:1.2em; 
    padding-bottom:5px;
    border:none;
  }
  
  #proverb{
    color:$orange;
    font-size:1.15em; 
    font-style:italic;
    margin-bottom:10px;
  }
  
  .overview {
    width:74.747475%;
    
    article {
      margin-bottom:50px;
    }
    h4 {
      font-size:1.692307em; 
      color:$orange;
      margin:0;
      padding-bottom:0;
      border-bottom:0;
    }
    .date {
      font-size:0.923076em;
      font-style:italic;
      color:#999;
      margin-bottom:20px;
    }

    p {
      margin-bottom:20px;
      line-height:150%;
      &.opening-text{
        font-size:1.123076em;
      }
    }
    
    .missions{
      margin-top:30px;
      border-top: 1px solid #F2F2F2;
      .mission{
        margin-top:30px;
        width:47%;
        h3{
          font-size:1.2em; 
          padding-bottom:5px;
          border:none;
        }
        &:first-child{
          margin-right:6%;
        }
        float:left;
        .p{
          margin-bottom:5px;
          line-height:50%;
          margin-bottom:0px;
        }
      }
    }  
  }
  
  #history-wrapper{
    margin-top:30px;
    padding-top:30px;
    padding-bottom:30px;
    border-top: 1px solid #F2F2F2;
    
    h3{
      font-size:1.2em; 
      padding-bottom:5px;
      border:none;
    }
    
    .history-objects{
      article{
        margin-bottom:20px;
        .date{
          font-size:1.2em;
          color:$orange;
          font-weight:bold;
          float:left;
          width:10%;
        }
        .body{
          padding-top:2px;
          font-size:.91em;
          float:left;
          width:90%;
          padding-bottom:20px;
          border-bottom: 1px solid #F2F2F2;
        }
        
        &.last{
          .body{
            border-bottom: none;
          }
        }
      }
    }
  }
  
  #directors-wrapper{
    list-style:none;
    margin-top:30px;
    padding:0;
    padding-top:30px;
    border-top: 1px solid #F2F2F2;
    
    h4{
      font-size:1.2em; 
      padding-bottom:5px;
      border:none;
    }
    
    li{
      border-bottom:1px solid #e5e5e5;
      font-family:$proximanova;
      font-size:1em;
      line-height:1em;
      margin-bottom:20px;
      
      &:last-child{
        border-bottom:none;
      }
      
      h5{
        border-bottom:none;
        padding-top:15px;
        padding-bottom:10px;
        font-size:1.30em;
      }
      
      h6{
        border-bottom:none;
        padding-bottom:10px;
        font-size:1.10em;
      }
      
      .image{
        float:left;
        width:33%;
      
        img{
          border:1px solid #e5e5e5;
        }
      }
      .text{
        margin-left:2%;
        width:65%;
        float:left;
      }
    }
  }
  
  #ceo-message{
    h2{
      padding-bottom: 13px;
      margin-bottom: 20px;
      border-bottom: 1px solid #E5E5E5;
    }
    
    h3{
      font-size:1.70em;
      padding-bottom: 5px;
    }
    
    h4{
      font-size:1.20em;
      padding-bottom: 20px;
    }
    
    .image{
      float:left;
      width:30%;
      padding-right:1%;
      padding-bottom:2%;
    }
  } 
  
  &.corporate-partners{
    h2{
      padding-bottom: 13px;
      margin-bottom: 20px;
      border-bottom: 1px solid #E5E5E5;
    }
    
    h3{
      font-size:1.70em;
      padding-bottom: 5px;
    }
    
    h4{
      font-size:1.20em;
      padding-bottom: 20px;
    }
    
    .image{
      float:left;
      padding-right:2%;
      padding-bottom:3%;
    }
  }
  
  &.clients{
    h2{
      padding-bottom: 0px;
      margin-bottom: 0px;
    }
    
    #client-wrapper{
      list-style:none;
      margin-top:30px;
      padding:0;
      padding-top:30px;
      border-top: 1px solid #F2F2F2;
    
      h4{
        font-size:1.2em; 
        padding-bottom:5px;
        border:none;
      }
    
      li{
        border-bottom:1px solid #e5e5e5;
        font-family:$proximanova;
        font-size:1em;
        line-height:1em;
      
        &:last-child{
          border-bottom:none;
        }
      
        h5{
          border-bottom:none;
          padding-top:15px;
          padding-bottom:10px;
          font-size:1.30em;
        }
      
        h6{
          border-bottom:none;
          padding-bottom:10px;
          font-size:1.10em;
        }
      
        .image{
          float:left;
          width:33%;
      
          img{
            border:1px solid #e5e5e5;
          }
        }
        .text{
          margin-left:2%;
          width:65%;
          float:left;
        }
      }
    }
  }
}

.sidebar {
  width:23.434343%;
  float:right;
  margin-bottom:50px;
	
  ul {
    list-style:none;
    margin:0;
    padding:0;
      
    li {
      border-bottom:1px solid #e5e5e5;
      font-family:$proximanova;
      font-size:1em;
      line-height:1em;
      text-transform:uppercase;
        
      a {
        padding:15px;
        color:#666;
        display:block;
          
        &:hover {
          color:$orange;
        }
      }
      &.active {
        background:$orange;
          
        a {
          color:#fff;
          cursor:default;
        }
      }
      &:last-child {
        border-bottom:0;
        margin-bottom:25px;
      }
    }
  }
}

@media screen and (max-width:759px) {
  .corporation{
    
    .content{
      .overview{
        width:100%;
      }
      .missions{
        .mission {
          float: none;
          width:100%;
          margin-top:10px;
        }
      }
      #history-wrapper{
        margin-top:10px;
      }
    } 
    
    #ceo-message{
      .image {
        padding-right: 4%;
        padding-bottom: 3%;
      } 
    }
    
    &.clients{
      #client-wrapper{
        li{
          .image{
            width:auto;
          }
          .text{
            width:100%;
          }
        }
      }
    }
    
    &.corporate-partners{
      .image {
        padding-right: 4%;
        padding-bottom: 3%;
      }
    }
    
    #directors-wrapper{
      li{
        .image{
          width:auto;
        }
        .text{
          width:100%;
        }
      }
    }
  } 
}

@media screen and (min-width:760px) and (max-width:1029px) {
  .corporation{
    #ceo-message{
      .image {
        padding-right: 4%;
        padding-bottom: 3%;
      } 
    }
    &.clients{
      #client-wrapper{
        li{
          .text{
            width:60%;
            margin-left:5%;
          }
        }
      }
    }
    &.corporate-partners{
      .image {
        padding-right: 4%;
        padding-bottom: 3%;
      }
    } 
  }
}

@media screen and (min-width:1030px) and (max-width:1279px) {
  .corporation{
    #ceo-message{
      .image {
        padding-right: 4%;
        padding-bottom: 3%;
      } 
    }
    &.clients{
      #client-wrapper{
        li{
          .text{
            width:60%;
            margin-left:5%;
          }
        }
      }
    }
    &.corporate-partners{
      .image {
        padding-right: 4%;
        padding-bottom: 3%;
      }
    } 
  } 
}

