@import "compass/css3";
@import "shared_vars";

// Sections
.home {
  .content > section {
    padding:0 20px;
  }
  #hero {
    position:relative;
    
    h1 {
      background:rgba(248, 82, 34, 0.95);
      float:left;
      position:absolute;
      z-index:2;
      font-family:$proximanova;
      font-weight:300;
      text-transform:uppercase;
      color:#fff;
      line-height:100%;
    }
    .slides {
      z-index:1;
      max-height: 703px;
    }
    ul {
      list-style:none;
      padding:0;
      margin:0;
      overflow:hidden;
      
      img {
        display:block;
        width: 100%;
      }
    }
  }
  #companies {
    overflow:hidden;
    
    ul.flex-direction-nav {
      list-style:none;
      margin:0;
      padding:0;
      position:relative;
      z-index:2;
      
      li {
        width:8px;
        height:8px;
        background:#b2b2b2;
        cursor:pointer;
        padding:8px;
        @include border-radius(12px);
        @include single-transition(all, 0.4s, ease-in-out, 0);
        overflow:hidden;
        
        img {
          display:block;
        }
        
        &.flex-prev {
          float:left;
          position:absolute;
          left:-44px;
          top:0;
        }
        &.flex-next {
          float:right;
          position:absolute;
          right:-44px;
          top:0;
        }
        
        &:hover {
          background:$orange;
        }
      }
    }
    ul.slides {
      list-style:none;
      margin:0;
      padding:0;
      overflow:hidden;
      z-index:1;

      li {
        float:left;
        
        a{
          float:left;
          img {
            display:block;
          }
          
        }
      }
    }
  }
  .content .home-cta-container {
    border-top:1px solid $lightgray;
    padding:20px;
    
    a {
      padding:20px 0 15px;
      display:block;
      color:$darkgray;
      
      img:before {
    		content:"";
    		position:absolute;
    		top:0;
    		bottom:0;
    		left:0;
    		right:0;
        @include single-box-shadow(rgba(0, 0, 0, 0.15), 0, 0, 0, 1px, inset);
      }

      h3 {
        font-size:1.384615em;
        font-weight:300;
        color:#555;
        padding-bottom:0;
        border-bottom:0;
        @include single-transition(all, 0.2s, ease-in-out, 0);
      }
      p {
        font-size:0.923076em
      }
      span.more {
        font-size:0.923076em;
        font-family:$proximanova;
        font-weight:600;
        color:$orange;
        text-transform:uppercase;
      }
      
      &:last-child {
        border-bottom:0;
      }
      &:hover h3 {
        color:$orange;
      }
    }
  }
}

// Mobile
@media screen and (max-width:759px) {
  .home {
    h1 {
      font-size:1.230769em;
      padding:10px;
      top:50%;
      left:50%;
      margin-left:-90px;
      margin-top:-15px;
    }
    #companies {
      padding:35px 0;
      
      ul.slides li {
        margin-right:25px;
      }
    }
    .content .home-cta-container {
      padding:15px 0;

      img, p, span.more {display:none;}
      a {
        min-height:10px;
        background:image-url('home-cta-arrow.svg') no-repeat right center;
        border-bottom:1px solid $lightgray;
        padding:15px 0 10px;

        &:last-child {
          border-bottom:0;
        }
      }
    }
  }
}

// Tablet
@media screen and (min-width:760px) and (max-width:1029px) {
  .home {
    h1 {
      font-size:1.384615em;
      padding:20px;
      top:50%;
      left:50%;
      margin-left:-120px;
      margin-top:-30px;
    }
    #companies {
      padding:45px 54px;
      
      ul.slides li {
        margin-right:50px;
      }
    }
    
    .content {
      padding:0;
      
      .home-cta-container {

        a {
          width:22.916667%;
          margin-right:2.777778%;
          float:left;

          &:last-child {
            margin-right:0;
            border-bottom:0;
          }

          h3 {
            font-size:1.153846em;
            margin:6px 0 2px;
          }
          span.more {
            display:block;
            margin-top:5px;
          }
        }
      }
    }
  }
}

// Netbook
@media screen and (min-width:1030px) and (max-width:1279px) {
  .home {
    h1 {
      font-size:1.384615em;
      padding:20px;
      top:50%;
      left:50%;
      margin-left:-120px;
      margin-top:-30px;
    }
    #companies {
      padding:45px 54px;
      
      ul.flex-direction-nav li {
        
        &.flex-prev {
          left:-54px;
        }
        &.flex-next {
          right:-54px;
        }
      }
      ul.slides li {
        margin-right:50px;
      }
    }
    .content .home-cta-container {
      padding:20px 0;

      a {
        width:22.727273%;
        margin-right:3.030303%;
        float:left;
        
        &:last-child {
          margin-right:0;
          border-bottom:0;
        }

        h3 {
          margin:6px 0 2px;
        }
        span.more {
          display:block;
          margin-top:5px;
        }
      }
    }
  }
}

// Desktop
@media screen and (min-width:1280px) {
  .home {
    h1 {
      font-size:1.384615em;
      padding:20px;
      top:50%;
      left:50%;
      margin-left:-120px;
      margin-top:-30px;
    }
    #companies {
      padding:45px 54px;
      
      ul.slides li {
        
      }
    }
    .content .home-cta-container {
      padding:20px 0;
      
      a {
        width:23.145161%;
        margin-right:2.5%;
        float:left;
        
        &:nth-child(2n) {
          margin-right:2.419355%;
        }
        
        &:last-child {
          margin-right:0;
          border-bottom:0;
        }
        h3 {
          font-size:1.538461em;
          margin:6px 0 2px;
        }
        p {
          font-size:1em;
        }
        span.more {
          font-size:1em;
          display:block;
          margin-top:5px;
        }
      }
    }
  }
}