@import "compass/css3";
@import "shared_vars";

.portfolio {
  .banner {
    @include single-box-shadow(rgba(0, 0, 0, 0.15), 0, 0, 0, 1px, inset);
  }
  
  .overview {
    width:74.747475%;
    
    article {
      margin-bottom:50px;
    }
    
    h3{
      padding-bottom: 0px;
      border-bottom: none;
    }
    
    h4 {
      font-size:1.692307em;
      color:$orange;
      margin:0;
      padding-bottom:0;
      border-bottom:0;
    }
    .date {
      font-size:0.923076em;
      font-style:italic;
      color:#999;
      margin-bottom:20px;
    }

    p {
      margin-bottom:20px;
      line-height:150%;
      &.opening-text{
        font-size:1.123076em;
      }
    }
    
    //portfolio/index
    .projects{
      margin-top:30px;
      margin-bottom:40px;
      border-top: 1px solid #F2F2F2;
      .project{
        margin-top:30px;
        width:47%;
        float:left;
        
        h3{
          font-size:1.2em;
          padding-bottom:5px;
          border:none;
        }
        &:first-child{
          margin-right:6%;
        }
        p{
          margin-bottom:2px;
          line-height:100%;
        }
        a{
          font-size:.85em;
          color:$orange;
          text-transform:uppercase;
        }
      }
    }  
  }
}


.portfolio-operations{
  h2{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom:1px solid #e5e5e5; 
  }
}

.portfolio-projects, .portfolio-operations{
  //portfolio/projects
  .projects-wrapper {
    width:74.747475%;
    
    h3{
      padding-bottom: 20px;
    }
    
    #projects{
      margin-top:20px;
      .project{
        float:left;
        width:300px;
        
        .image{
          margin-bottom:8px;
          img{
            border:1px solid #e5e5e5;
          }
        }
        
        h3{
          color: #555;
          font-size:1.4em;
          padding-bottom:0px;
          border:none;
        }
        
        ul{
          padding:0;
          margin-top:6px;
          list-style:none;
          li{
            margin-bottom:6px;
            line-height:100%;
            font-size:.9em;
            
            b{
              color: #555;
            }
          }
        }
      }
    }
    
    #operations{
      margin-top: 20px;
      margin-bottom: 20px;
      .operation{
        .image{
          margin-bottom:8px;
          float:left;
          img{
            border:1px solid #e5e5e5;
          }
        }
    
        .text{
          float:left;
          margin-left:5%;
          h3{
            color: #555;
            font-size:1.4em;
            padding-bottom:0px;
            border:none;
          } 
        }
      }
    }
  }
}

.sidebar {
  width:23.434343%;
  float:right;
  margin-bottom:50px;
  
  ul {
    list-style:none;
    margin:0;
    padding:0;
    
    li {
      border-bottom:1px solid #e5e5e5;
      font-family:$proximanova;
      font-size:1em;
      line-height:1em;
      text-transform:uppercase;
      
      a {
        padding:15px;
        color:#666;
        display:block;
        
        &:hover {
          color:$orange;
        }
      }
      &.active {
        background:$orange;
        
        a {
          color:#fff;
          cursor:default;
        }
      }
      &:last-child {
        border-bottom:0;
        margin-bottom:25px;
      }
    }
  }
}