body{
  text-align:right;
}

//nav
header[role="header"]{
  a.logo {
    float: right;
  }
  
  nav[role="navigation"] ul {
    float: left;
    text-align: left;
    li{
      float:right;
      &.corporation{
        margin-right:41%;
      }
    }
  }
}

//subnav
.main nav.subnav{
  ul.breadcrumb {
    margin-right: 10px;
    li{
      float:right;
      a::after {
        float: left;
      }
    }
  }
} 

//footer
footer[role="footer"]{
  a.switcher{
    float:left;
  }
  .footer-nav {
    float: left;
    margin-left:15px;
    li{
      float:right;
    }
  }
  p.copyright {
    float: right;
  }
}
 

//shared
.sidebar{
  float: left;
}

.overview {
  float:right;
}
 

//home
.home h1{
  left:55%;
}

//corporation
.corporation {
  #history-wrapper{
    
  }
  #directors-wrapper{
    li{
      .image{
        float: right;
      }
      .text{
        float: right;
      }
    }
  }
  &.clients{
    #client-wrapper{
      li{
        .image{
          float: right;
        }
        .text{
          float: right;
        }
      }
    }
  }
  &.corporate-partners{
    .overview{
      .image{
        float:right;
        padding-left: 2%;
        padding-right: 0;
        padding-bottom: 3%;
      }
    }
  }
}

//companies
.companies{
  .companies-wrapper{
    a{
      .logo{
        float:right;
      }
    }
  }
}

//portfolio
.portfolio{
  
} 

.portfolio-projects .projects-wrapper, .portfolio-operations .projects-wrapper{
  float:right;
  #projects{
    .project{
      float:right;
    }
  }
  #operations{
    .operation{
      .image{
        float: right;
      }
      .text{
        float: right;
      }
    }
  }
}

//media
.media{
  .posts-wrapper{
    float:right;
    article{
      .body{
        .image{
          float:right;
          margin-right:0;
          margin-left:30px;
        }
      }
    }
  } 
}

//contact
.contact{
  .contact-wrapper{
    .form{
      float:left;
    }
    .addresses{
      float:right;
      h5{
        float:right;
      }
      ul{
        li{
          b{
            float:right;
          }
        }
      }
    }
  }
}
