<li class="clear">
  <div class="image">
    <%= image_tag(director.image.thumbnail) %>
  </div>
  <div class="text">
    <h5><%= director.title %></h5>
    <h6><%= director.name %></h6>
    <p><%= director.description %> </p>
  </div>
</li>
