<article class="<%= history_object_counter == history_object_count ? "last" : "" %>">
  <div class="date"><%= history_object.year %></div>
  <div class="body">
    <%= history_object.title %>
  </div>
</article>
