<li class="clear">
  <div class="image">
    <%= image_tag(partner.image.thumbnail) %>
  </div>
  <div class="text">
    <h5><%= partner.title %></h5>
    <p><%= partner.description %> </p>
  </div>
</li>
